<div class="hero">
  <div id="contact-links">
    <ul>
      <li class="contact email"><span class="sprite"></span></li>
      <li class="contact skype"><span class="sprite"></span></li>
      <li class="contact twitter"><span class="sprite"></span></li>
      <li class="contact linkedin"><span class="sprite"></span></li>
    </ul>
  </div>
  <div class="logo sprite"></div>
  <div class="platforms">
    <div class="tablet sprite"></div>
    <div class="desktop sprite"></div>
    <div class="mobile sprite"></div>
  </div>
</div>
<div id="work-link" class="menu-item"><a href="#home"><span class="link sprite"></span>Home</a></div>
<div id="blog-link" class="menu-item"><a href="#blog"><span class="link sprite"></span>Blog</a></div>