<div class="frameContainer">
  <div class="imageFrame">
    <div class="loader">
	  <div class="spinner"><div class="progress"></div></div>
    </div>
    <div class="mask">
      <img id="shadowImg" src="">
      <div class="scrollbar">
	    <div class="scroll ui-draggable"></div>
      </div>
    </div>
    <div class="nav">
	  <div class="prev btn">Prev</div>
	  <div class="next btn">Next</div>
	  <div class="count">
        <p><span class="current"></span> of <span class="total"></span></p>
      </div>
    </div>
    <div class="titlebar">
      <p class="client">Client</p><p class="project">
       <div class="close sprite">
       </div>
    </div>
  </div>
</div>