<div>
  <div template="portfolio" class="col">
    <div class="project-title">
      <h3 class="project-client">{{client}}</h3>
      <div class="moreInfo">
        <div class="indicator"><span class="arrow"></span></div>
        <div class="more-container">
          <div class="more">
            <div class="project">
              <h3 class="project-name"><span class="label">Project:</span><span class="value">{{project}}</span></h3>
              <h4 class="role"><span class="label">Role:</span><span class="value">{{role}}</span></h4>
              <h2 class="date"><span class="label">Date:</span><span class="value">{{date}}</span></h2>
            </div>
            <p class="content">{{desc}}</p>
            <div tech="{{tech}}"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="album">
      <img imglink="{{imgMain}}"></img>
      <div class="imgNav"></div>
    </div>
  </div>
</div>
